
<h3>Welcome {{username}}! You are {{age}} years old. </h3>

<h4>My Friends -</h4>

{{#if haveFriends}}
  <ul>
    {{#each friends}}
      <li>{{showInUpperCase this}}</li>
    {{/each}}
  </ul>
  {{else}}
  <p>Be the first as my friend..</p>
{{/if}}