<header>
    <nav>
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="nav-link" href="/views/login">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/views/welcome">Welcome</a>
            </li>
        </ul>
    </nav>
</header>