html 
    head 
        title My Awesome App
    body 
        div.container
            ul 
                li 
                    a(href="/login")
                li 
                    a(href="/home")  