<html>
    <body>
        
        <% if (condition){ %> 
            <p>Inside if</p>
        <% } %> 

        <% for(forLoopCondition){  %> 

        <% } %> 

        <% include  %> 

        <% for( let index = 0; index < array.length; index++ ) { %>
        
        <% } %>

        <% if (condition) { %>
         
        <% } %>

        <%#  %> 
        <%= user.firstName %> 
    </body>
</html>