<header>
    <nav>
        <ul>
            <li>
                <a href="/views/index">Welcome Page</a>
            </li>
            <li>
                <a href="/views/about">About Page</a>
            </li>
        </ul>
    </nav>
</header>