<h1>Login Page</h1>

<form>
    <input type="email" id="txtEmail" name="email" placeholder="Enter email">
    <input type="password" id="txtPassword" name="password" placeholder="Enter password">
    <button type="button" id="btnLogin">Login</button>
</form>

<script src="/scripts/app.js"></script>