<!DOCTYPE html>
<html lang="en">
<head>
    <title>Welcome to App</title>
</head>
<body>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/views/register">Register</a></li>
        <li><a href="/views/login">Login</a></li>
    </ul>
    <h1>Welcome Page</h1>
</body>
</html>