<!DOCTYPE html>
<html lang="en">
<head>
    <title>Welcome to App</title>
</head>
<body>

    <h1>User Profile Page - <%= user.username.toUpperCase() %> </h1>

    <hr>

    <a href="/auth/logout">Logout</a>
</body>
</html>