<!DOCTYPE html>
<html lang="en">
<head>
    <title>User Registration</title>
</head>
<body>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/views/register">Register</a></li>
        <li><a href="/views/login">Login</a></li>
    </ul>
    <h1>Registration Form </h1>
    <form action="/auth/register" method="POST">
        <!-- username -->
        <label for="username">Username : </label>
        <input type="text" name="username" id="username" />
        <br />
        <!-- password -->
        <label for="password">Password :</label>
        <input type="password" name="password" id="password" />
        <br/>
        <!-- button -->
        <button type="submit">Register</button>
    </form>
</body>
</html>